body {
    background: #0f4d92;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    color: white;
}

.main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.credit {
    position: absolute;
    bottom: 0px;
    left: 2px;
    font-size: calc(0.75vw + 0.75vh);
}

.text {
    color: whitesmoke;
    display: flex-box;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.text * {
    padding: 2px;
    margin: 2px;
}

.text p {
    font-size: calc(3vw + 3vh);
    font-weight: 200;
}

#display {
    font-weight: 600;
    font-size: calc(5vw + 5vh)
}
