.title {
    text-align: center;
    font-size: 100px;
    color: #555555;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #08AEEA;
    background-image: linear-gradient(27deg, #08AEEA 0%, #2AF598 100%);
    background-repeat: no-repeat;
	background-attachment: fixed;
}

input[type=text] {
	color: #2AF598;   
    background-color: #555555;
    border: none;
    border-radius: 30px;
    width: 25%;
    padding: 12px 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

input[type=submit] {
	border: none;
    color: #2AF598;
    border-radius: 30px;
    padding: 24px 48px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #555555;
    cursor: pointer;
}

#weather {
	display: none;
    font-family: 'Roboto', sans-serif;
}

#weather h1 {
    text-align: center;
    color: #555555;
    font-size: 110px;
}

#weather h2 {
	text-align: center;
    color: #555555;
    font-size: 75px;   
}

::placeholder {
    color: #2AF598;
    opacity: 1;
}

#weather h4 {
	font-family: 'Roboto', sans-serif;   
    color: #555;
    font-size: 60px;
    text-align: center;
}

#weather button {
    background-color: #555555;
    border: none;
    border-radius: 30px;
    color: #2AF598;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;  
    cursor: pointer;
}