---
---

// @font-face
//     font-family: Iosevka
//     font-display: swap
//     src: url(../fonts/iosevka-regular.ttf)

@keyframes fadein
    from
        opacity: 0
        transform: translateX(20px)

    to
        opacity: 100%
        transform: translateX(0px)

$font: Iosevka
$backup-font: Arial

$accent: #4fb8ff
$text: #92a1ae
$mid: #424c57
$dark: #21272f
$very-dark: #1b2129

h1, a, p
    color: $text
    font-family: $font, $backup-font

nav
    padding-top: 0.25rem
    border-bottom: 1px solid $mid

    >
        *
            display: inline-block
            font-weight: bold
        a
            color: $accent
            padding-right: 0.15rem

footer
    // position: relative
    margin-top: -0.25rem
    width: 100%
    border-top: 1px solid $mid

    >
        *
            display: inline-block
            font-weight: bold
        a
            color: $accent
            padding-right: 0.15rem

body
    padding: 0
    margin: 0
    background-color: $very-dark

.wrapper
    background-color: $dark
    box-sizing: border-box
    border:
        left: 1px solid $mid
        right: 1px solid $mid
    padding:
        top: 0
        bottom: 0
        left: 2.5vw
        right: 2.5vw
    margin: auto
    width: 80vw
    min-height: 100vh
    // animation: fadein 0.3s 0s

    // >
    //     *
    //         animation: fadein 0.35s
