@font-face {
    font-family: Iosevka;
    font-display: swap;
    src: url(/assets/fonts/iosevka-regular.woff2) format("woff2");
}


body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    display: none;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--fg-1);    /* color of the scroll thumb */
    border-radius: 2px;       /* roundness of the scroll thumb */
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-0);
    overflow-x: hidden;
    font-family: var(--font);
}

p {
    color: var(--fg-0);
}

a {
    color: var(--blue);
}

.overlay {
    background-color: var(--bg-0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.ascii {
    white-space: pre;
    font-size: calc(3vmin);
    word-wrap: normal;
}

.splash-ascii {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 10px;
}

.sea {
    margin: 0;
    padding: 0;
    display: flex;
    color: var(--blue);
    position: absolute;
    bottom: 0vh;
    left: 0;
    /* animation: water 1s ease-in-out 0s infinite alternate; */
}

.navbar {
    background-color: var(--bg-2);
}

.navbar * {
    display: inline-block;
}

.navbar:first-child {
    padding-left: 0.5rem;
}

.splash {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#name {
    color: var(--fg-0);
    font-size: calc(4vw + 4vh);
    position: relative;
}

#name::before,
#name::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#name::before {
    background: var(--bg-0);
    animation: typing 0.5s steps(14) forwards 1s;
}

@keyframes typing {
    to {
        left: 100%;
    }
}

:root {
    --font: Iosevka, monospace, 'Courier';
}

:root[data-palette="dark"] {
    --bg-dim: #1b1b1b;
    --bg-0: #282828;
    --bg-1: #32302f;
    --bg-2: #32302f;
    --bg-3: #45403d;
    --bg-4: #45403d;
    --bg-5: #5a524c; 
    --fg-0: #d4be98;
    --fg-1: #ddc7a1;
    --red: #ea6962;
    --orange: #e78a4e;
    --yellow: #d8a657;
    --green: #a9b665;
    --aqua: #89b482;
    --blue: #7daea3;
    -purple: #d3869b;
}

:root[data-palette="light"] {
        --bg-dim: #f2e5bc;
        --bg-0: #fbf1c7;
        --bg-1: #f4e8be;
        --bg-2: #f2e5bc;
        --bg-3: #eee0b7;
        --bg-4: #e5d5ad;
        --bg-5: #ddccab;
        --fg-0: #52432b;
        --fg-1: #4f3829;
        --red: #c14a4a;
        --orange: #c35e0a;
        --yellow: #b47109;
        --green: #6c782e;
        --aqua: #4c7a5d;
        --blue: #45707a;
        --purple: #945e80;
}