---
---

@font-face
    font-family: Iosevka
    src: url(../fonts/iosevka-regular.ttf)

$accent: #4fb8ff
$text: #92a1ae
$mid: #424c57
$dark: #21272f
$very-dark: #1b2129

a, p
    color: $text
    font-family: 'Iosevka'

body
    padding: 0
    margin: 0
    background-color: $very-dark

.content
    border-left: 1px solid #424c57
    border-right: 1px solid #424c57
    margin: auto
    box-sizing: border-box
    padding-left: 2.5vw
    padding-right: 2.5vw
    width: 80vw
    min-height: 100vh
    background-color: $dark
