---
---

$font: Iosevka, Arial

$accent: #4fb8ff
$text: #92a1ae
$mid: #424c57
$dark: #21272f
$very-dark: #1b2129

@font-face
    font-family: Iosevka
    font-display: swap
    src: url(/assets/fonts/iosevka-regular.woff2) format("woff2")

@keyframes fadein
    from
        opacity: 0
        transform: translateX(30px)
    to
        opacity: 1
        transform: translateX(0px)

@mixin bar-links
    >
        p::after
            content: " | "

        *
            display: inline-block
            font-weight: bold
        a
            color: $accent
            padding-right: 0.15rem

h1, a, p
    color: $text
    font-family: $font

nav
    @include bar-links

    padding-top: 0.25rem
    border-bottom: 1px solid $mid

footer
    @include bar-links

    margin-top: -0.25rem
    width: 100%
    border-top: 1px solid $mid

body
    padding: 0
    margin: 0
    background-color: $very-dark

.wrapper
    background-color: $dark
    box-sizing: border-box
    border:
        left: 1px solid $mid
        right: 1px solid $mid
    padding:
        top: 0
        bottom: 0
        left: 2.5vw
        right: 2.5vw
    margin: auto
    width: 80vw
    min-height: 100vh

    >
        *
            animation: fadein 0.35s
