---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="font" href="/assets/fonts/iosevka-regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="script" href="/assets/scripts/palette.js">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link
      href="/assets/favicon-light.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/assets/favicon-dark.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
</head>
<body>
    {% include nav.html %}
    <script src="/assets/scripts/palette.js" defer></script>
    
    <div class="wrapper">
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>
</html>
